<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated mail reporter</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>Question Cloud</h1>
        <P>(India's Widest Online Test Portal)</P>
        <h3>Questions Status Report</h3>
        <h3>Overall Main Category</h3>
    </div>
    <div style="border: 1px solid #d4d9d6; font-size: 12px; color: #555;">
        <div style="display: inline-block; width: 12%; padding: 5px; font-weight: bold;">Master Category</div>
        <div style="display: inline-block; width: 11%; padding: 5px; font-weight: bold;">Main Category</div>
        <div style="display: inline-block; width: 11%; padding: 5px; font-weight: bold;">Sub Category</div>
        <div style="display: inline-block; width: 11%; padding: 5px; font-weight: bold;">Total questions assigned for test</div>
        <div style="display: inline-block; width: 10%; padding: 5px; font-weight: bold;">No.of topic wise tests</div>
        <div style="display: inline-block; width: 10%; padding: 5px; font-weight: bold;">No.of full tests</div>
        <div style="display: inline-block; width: 10%; padding: 5px; font-weight: bold;">No.of sectional subject tests</div>
        <div style="display: inline-block; width: 10%; padding: 5px; font-weight: bold;">No.of sectional timing tests</div>
        {{#each data}}
        <div style="display: inline-block; width: 12%; padding: 5px;">{{this.mastercategory}}</div>
        <div style="display: inline-block; width: 11%; padding: 5px;">{{this.maincategory}}</div>
        <div style="display: inline-block; width: 11%; padding: 5px;">{{this.subcategory}}</div>
        <div style="display: inline-block; width: 11%; padding: 5px; text-align: center;">{{this.totalquestions}}</div>
        <div style="display: inline-block; width: 10%; padding: 5px;">{{this.topicwisereports}}</div>
        <div style="display: inline-block; width: 10%; padding: 5px;">{{this.fulltests}}</div>
        <div style="display: inline-block; width: 10%; padding: 5px;">{{this.secsubject}}</div>
        <div style="display: inline-block; width: 10%; padding: 5px;">{{this.sectiming}}</div>
        {{/each}}
    </div>
    <!--
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table style="width: 10%; border-collapse:collapse;border-color:#aaa;border-spacing:0" class="tg">
        <thead>
            <tr>
                <th
                    style="width: 200px; border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#000000;font-family:Arial, Helvetica, sans-serif !important;;font-size:8px;font-weight:bold;overflow:hidden;padding:10px 5px;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;will-change:transform;word-break:normal">
                    Question<br></th>
                <th
                    style="width: 100px; border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#000000;font-family:Arial, sans-serif;font-size:8px;font-weight:bold;overflow:hidden;padding:10px 5px;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;will-change:transform;word-break:normal">
                    Option 1<br></th>
                <th
                    style="width: 100px; border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#000000;font-family:Arial, sans-serif;font-size:8px;font-weight:bold;overflow:hidden;padding:10px 5px;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;will-change:transform;word-break:normal">
                    Option2</th>
                <th
                    style="width: 100px; border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#000000;font-family:Arial, sans-serif;font-size:8px;font-weight:bold;overflow:hidden;padding:10px 5px;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;will-change:transform;word-break:normal">
                    Option 3<br></th>
                <th
                    style="width: 100px; border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#000000;font-family:Arial, sans-serif;font-size:8px;font-weight:bold;overflow:hidden;padding:10px 5px;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;will-change:transform;word-break:normal">
                    Option 4</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td
                    style="border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#666464;font-family:Arial, sans-serif;font-size:8px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    {{this.question}}</td>
                <td
                    style="border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#666464;font-family:Arial, sans-serif;font-size:8px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    {{this.opt_1}}</td>
                <td
                    style="border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#666464;font-family:Arial, sans-serif;font-size:8px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    {{this.opt_2}}</td>
                <td
                    style="border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#666464;font-family:Arial, sans-serif;font-size:8px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    {{this.opt_3}}</td>
                <td
                    style="border-bottom-width:2px;border-color:#d4d9d6;border-style:solid;border-top-width:2px;border-width:1px;color:#666464;font-family:Arial, sans-serif;font-size:8px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    {{this.opt_4}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    -->
</body>

</html>